.grid-container {
    display: grid;
    margin: 10px 0;
    grid-template-columns: 0.5fr;
    grid-row-gap: 0.3em;
    grid-auto-rows: minmax(30px, auto);
    grid-template-areas: "caption" "navigation" "data";
    justify-content: center;
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: 0.6fr;
    }
}

@media (max-width: 801px) {
    .grid-container {
        grid-template-columns: 0.8fr;
    }
}

@media (max-width: 501px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.grid-container>.grid-item {
    border: 1px solid #CBCBFF;
    border-radius: 10px;
    background-color: #CBFFCB;
    padding: 5px 10px;
}

.grid-container>.grid-item-caption {
    grid-area: caption;
}

.grid-container>.grid-item-filters {
    grid-area: navigation;
}

.grid-container>.grid-item-data {
    grid-area: data;
}

nav.main-navigation {
    display: flex;
    padding: 0;
    justify-content: center;
}

nav > a.router-link {
    padding: 10px;
    color: #0099FF;
}
nav > a.router-link:hover {
    color: #000;
}
.router-link-active {
    color: #000!important;
}