<section class="grid-container">
    <section class="grid-item grid-item-caption">
        <h1>Touristization!</h1>
    </section>
    <section class="grid-item grid-item-navigation">
        <nav class="main-navigation">
            <a class="router-link" routerLink="/countries" routerLinkActive="router-link-active">List of countries</a>
            <a class="router-link" routerLink="/visits" routerLinkActive="router-link-active">Visits report</a>
        </nav>
    </section>
    <section class="grid-item grid-item-data">
        <router-outlet></router-outlet>
    </section>
</section>