div.visit-block {
    background-color: #fff;
    border: 1px solid #CBCBFF;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 5px;
}
span.visit-block-num {
    font-weight: bold;
}
div.visit-list-block {
    margin-top: 15px;
}