<h2>List of countries</h2>
<div class="country-block" *ngFor="let country of countries">
  <div class="country-name-block" >{{country.name}}</div>
  <div class="country-description-block" >{{country.description}}</div>
</div>
