div.country-block {
    background-color: #fff;
    border: 1px solid #CBCBFF;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 5px;
}
div.country-name-block {
    font-weight: bold;
}
div.country-description-block {
    font-size: 0.9em;
}