/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h1, h2, h3 {
    margin: 10px 0;
}

a {
    color: #0099FF;
}

a:hover {
    color: #000;
}

a:visited {
    color: #551A8B;
}
