<h2>Visits report</h2>
<div class="visit-filters-block">
    <div class="filter-block"><tourist-dd-list></tourist-dd-list></div>
    <div class="filter-block"><year-dd-list></year-dd-list></div>
    <div class="filter-block"><visits-receiver-button></visits-receiver-button></div>
</div>
<visit-list></visit-list>